In [1]:
import pandas as pd
import numpy as np
import os

df = pd.read_csv("C:\Projects\Customer_churn_project\data\customer_churn.csv")
print("Shape:", df.shape)
print("Missing values:\n", df.isnull().sum())
print("Duplicated rows:", df.duplicated().sum())
df.head()

Shape: (15000, 14)
Missing values:
 id                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64
Duplicated rows: 0

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15702656.0,Nwora,567.0,France,Male,33.0,9.0,0.0,2.0,1.0,0.0,156792.89,0.0
1,1,15647965.0,Yevdokimova,628.0,France,Female,38.0,3.0,0.0,1.0,1.0,1.0,51987.99,1.0
2,2,15798834.0,Ch'iu,635.0,France,Female,29.0,3.0,0.0,2.0,1.0,1.0,113079.19,0.0
3,3,15672056.0,Hsia,681.0,France,Male,28.0,6.0,0.0,2.0,1.0,0.0,14081.64,0.0
4,4,15759537.0,Okwudilichukwu,587.0,France,Female,27.0,5.0,0.0,2.0,1.0,0.0,158958.90,0.0

In [3]:
columns_to_drop = ["RowNumber", "CustomerId", "Surname"]
df = df.drop(columns=columns_to_drop, errors='ignore')

cat_cols = df.select_dtypes(include='object').columns
print("Categorical columns:", cat_cols)

# One-hot encoding
df = pd.get_dummies(df, drop_first=True)

Categorical columns: Index([], dtype='object')

In [4]:
# Clean up null values
df = df.dropna()

df = df.drop_duplicates()

# Save the cleaned file
os.makedirs("C:\Projects\Customer_churn_project\data\processed", exist_ok=True)
df.to_csv("C:\Projects\Customer_churn_project\data\processed\cleaned_customer_churn.csv", index=False)
print("Cleaned dataset saved: data/processed/cleaned_customer_churn.csv")
print("Final shape:", df.shape)

Cleaned dataset saved: data/processed/cleaned_customer_churn.csv
Final shape: (15000, 13)